<mat-expansion-panel expanded="false"> <!--Contenedor principal-->
	<mat-expansion-panel-header>
		<mat-panel-title><h1>Buttons:</h1></mat-panel-title>
	</mat-expansion-panel-header>
	<app-botones></app-botones>
</mat-expansion-panel>
<hr>
<mat-expansion-panel expanded="false"> <!--Contenedor principal-->
	<mat-expansion-panel-header>
		<mat-panel-title><h1>Input fields:</h1></mat-panel-title>
	</mat-expansion-panel-header>
	<app-inp-fields></app-inp-fields>
</mat-expansion-panel>
<hr>
<mat-expansion-panel expanded="true"> <!--Contenedor principal-->
	<mat-expansion-panel-header>
		<mat-panel-title><h1>Lists:</h1></mat-panel-title>
	</mat-expansion-panel-header>
	<app-lists></app-lists>
</mat-expansion-panel>