<div class="row">
	<div class="col-12">
		<h3>Inputs básicos</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-3 alert alert-warning">
				<mat-form-field>
					<input matInput type="text" placeholder="Nombre">
				</mat-form-field>
			</div>
			<div class="col-md-3 alert alert-warning">
				<mat-form-field>
					<input matInput type="number" placeholder="Edad">
				</mat-form-field>
			</div>
			<div class="col-md-3 alert alert-warning">
				<button mat-raised-button color="accent">Botón 3</button>
			</div>
			<div class="col-md-3 alert alert-warning">
				<button mat-raised-button color="warn">Botón 3</button>
			</div>
		<div>
	</div>
</div>	