<div class="row">
	<div class="col-12">
		<h3>Inputs básicos</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-3 alert alert-warning">
				<mat-form-field>
					<input matInput type="text" placeholder="Nombre">
					<mat-hint>Nombre y Apellidos</mat-hint>
				</mat-form-field>
			</div>
			<div class="col-md-3 alert alert-warning">
				<mat-form-field>
					<input matInput type="number" placeholder="Edad">
					<span matSuffix> años</span>
				</mat-form-field>
			</div>
			<div class="col-md-3 alert alert-warning">
				<mat-form-field>
					<input matInput type="password" placeholder="Password">
				</mat-form-field>
			</div>
			<div class="col-md-3 alert alert-warning">
				<mat-form-field>
					<span matPrefix>+044</span>
					<input matInput type="text" placeholder="Teléfono">
				</mat-form-field>
			</div>
		<div>
	</div>
</div>
