<div class="row">
	<div class="col-12">
		<h3>Listas básicas</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row justify-content-center">
			<div class="col-md-8 alert alert-secondary">
				<mat-list>
					<mat-list-item>
						Veronica Mungia
					</mat-list-item>
					<mat-list-item>
						<span mat-line>Luis Alba </span>
						<span mat-line>Méx D.F. </span>
					</mat-list-item>
					<mat-list-item>
						<img mat-line mat-list-avatar src="http://lorempixel.com/output/people-q-c-370-290-7.jpg">
						Roxana Gutierrez
					</mat-list-item>
					<mat-list-item>
						<img mat-line mat-list-avatar src="http://lorempixel.com/output/people-q-c-370-290-7.jpg">
						<span mat-line>Roxana Gutierrez</span>
						<span mat-line>Queretaro</span>
						<span mat-line>25 años</span>
						<span mat-line>Doctora</span>
					</mat-list-item>
					<mat-list-item>
						<img mat-line mat-list-avatar src="http://lorempixel.com/output/people-q-c-370-290-7.jpg">
						<span mat-line>{{estudiante1.id}}</span>
						<span mat-line>{{estudiante1.nombre}}</span>
						<span mat-line>{{estudiante1.ciudad}}</span>
					</mat-list-item>
				</mat-list>
			</div>
		<div>
	</div>
</div>