<div class="row">
	<div class="col-12">
		<h3>Botones normales</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-3 alert alert-info">
				<button mat-raised-button>Botón 1</button>
			</div>
			<div class="col-md-3 alert alert-info">
				<button mat-raised-button color="primary">Botón 2</button>
			</div>
			<div class="col-md-3 alert alert-info">
				<button mat-raised-button color="accent">Botón 3</button>
			</div>
			<div class="col-md-3 alert alert-info">
				<button mat-raised-button color="warn">Botón 3</button>
			</div>
		<div>
	</div>
</div>	
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-3 alert alert-info">
				<button mat-stoked-button>Botón 1</button>
			</div>
			<div class="col-md-3 alert alert-info">
				<button mat-stroked-button color="primary">Botón 2</button>
			</div>
			<div class="col-md-3 alert alert-info">
				<button mat-stroked-button color="accent">Botón 3</button>
			</div>
			<div class="col-md-3 alert alert-info">
				<button mat-stroked-button color="warn">Botón 3</button>
			</div>
		<div>
	</div>
</div>


<div class="row">
	<div class="col-12">
		<h3>Botones con iconos</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-2 alert alert-info">
				<button mat-raised-button>
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>grade</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-icon-button color="primary">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>grade</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-raised-button mat-icon-button color="accent">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>grade</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-stroked-button mat-icon-button color="warn">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>grade</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-fab color="warn">
				<!-- En vez de texto al botón ponemos iconos-->
					texto
				</button>
			</div>
		<div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-md-2 alert alert-info">
				<button mat-raised-button>
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-icon-button color="primary">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>tablet</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-raised-button mat-icon-button color="accent">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>restore_page</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-stroked-button mat-icon-button color="warn">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>send</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-stroked-button mat-icon-button color="warn">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>face</mat-icon>
				</button>
			</div>
			<div class="col-md-2 alert alert-info">
				<button mat-stroked-button mat-icon-button color="warn">
				<!-- En vez de texto al botón ponemos iconos-->
					<mat-icon>error</mat-icon>
				</button>
			</div>
		<div>
	</div>
</div>



